body {
  background-color: #eee7d8;
}

h1 {
  text-align: center;
  color: #d67a93;
  font-family: "Oranienbaum", serif;
  font-size: 30px;
}

h2 {
  text-align: center;
  color: #d67a93;
  font-family: "Oranienbaum", serif;
  font-size: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h6 {
  color: #dd9787;
  font-family: monospace;
  text-align: center;
}
